{% extends 'base.html.twig' %}

{% block title %}ARM/{{ controller_name }}!{% endblock %}

{% block nav_title %}<h1>ARM/{{ controller_name }} </h1>{% endblock %}
{% block body_title %}<h1>ARM/{{ controller_name }} </h1>{% endblock %}

{% block body_content %}
        <div class="row" class="spacer-small">
        </div>
       <div class="jumbotron">
           <h1>Hallo {{ username }}</h1>
           <a href="{{ path('logout') }}" class="button">Logout</a>
         </div>
{% endblock %}

